@import 'compass';
@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/base';
@import 'partials/normalize';
@import 'compass/css3';
	

.card{
	position:relative;
	@include container-dimension(100%,100%);
}
.display{
	@include container-dimension();
	border:1px solid lighten($black,.5);
	position:relative;
}

 %arrangeVal{
   margin:0;
   padding:0;
   border-radius:initial;
   font-size:$font-size;
   width:100%;
   border:1px solid $black;
   	padding:{
		left:25px;
		top:5px;
		bottom:5px;
	}
   
}

#result{
   	position:absolute;
	font-size:8rem;
	right:7px;
	bottom:2px;
	font-weight:400;
}

%btn-size{
    @include container-dimension(10rem,4rem);
	margin:0;
}

.operands{
	@extend %arrangeVal;
	@include container-dimension();
	input{
		@extend %btn-size;
	}
}

.operator{
	@extend %arrangeVal;
	@include container-dimension();
	input{
	   @extend %btn-size;
	}
	button{
	   @extend %btn-size;
	}
}

.side-bar{
	@extend %arrangeVal;
	@include container-dimension();
	input{
	   @extend %btn-size;
	}
	button{
	   @extend %btn-size;
	}
}